.cars-container {
  background-color: #f5f5f5;
  .car {
    width: 243px;
    min-height: 450px;
    display: inline-block;
    line-height: 0.5;
    margin-right: 31px;
    margin-bottom: 50px;
    background-color: $white;
    box-shadow: 0px 5px 20px #00000026;
    padding-bottom: 20px;
  }
  .card-img-top {
    border-radius: 0;
  }
  .button-blue {
    border: 2px solid #2d3178;
    border-radius: 12px;
    color: #2d3178;
    font-size: 16px;
    font-weight: bolder;
  }
}
.table-borderless {
  margin: 10px;
  width: 95%;
  td,
  th {
    border: 0;
    padding: 10px;
    font-size: 12px;
    line-height: 0.2;
  }
}

@media (max-width: 768px) {
  .cars {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
