$red: #f55448;
$border-radius: 12px;
$card-border-radius: 0;
$blue: #2e3179;
$gray-100:#ffffff;
$nav-link-padding-x: 0rem;

@import "node_modules/bootstrap/scss/bootstrap";
@import "./sccsModules/header";
@import "./sccsModules/content";
@import "./sccsModules/cars";
@import "./sccsModules/cards";

// $bg-color-primary: #ffffff;
// $bg-color-secondary: #f5f5f5;
// $color-grey: #44456a99;
// $color-grey-light: #f0f0f0;
// $color-grey-dark: #00000026;
// $color-grey-light: #d5d5d5;
// $color-grey-light: #0000001a;
// $text-color-black: #000000;
// $text-color-light: #8f8f8f;
// $text-color-dark: #656565;
// $color-blue: #2e3179;
// $color-blue-dark: #2d3178;
// $color-orange: #f55448;
// $color-slider-bg: #eeeeee;
// $color-slider: #00000029;
// $color-slider-light: #dadada;
// $color-slider-prymary: #db2518;

body {
  margin: 0;
  padding: 0;
  // box-sizing: border-box;
}

@media (max-width: 768px) {
  body{
    align-items:center} ;
 }